:root{
  --gap: 0.7rem;
  --gap-sl: 0.4rem;
  --padding: 1rem;
  --padding-sl: 0.6rem;
  --padding-lg: 5rem;
  --btn-padding: 0.6rem;
  --margin: 1.2rem;
  --button-border-radius: 8px;

  --font-lg: 1.3rem;
  --font-xlg: 2.5rem;
  --font-sl: 0.8rem;
  --font-md: 1rem;

  --light-color:#ffffff;
  --light-alt-color: #e5e5e5;
  --theme-color: #fca311;
  --dark-color: #14213d;
  --black-color: #000000;
}

html{
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

body{
  height: 100%;
  background-image: url('./Data/Images/background-image.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--light-color);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(4px) brightness(.7) saturate(2) contrast(1.2);
  box-shadow: inset 0 0 100px 10px rgba(252, 163, 17, 0.3);
}