:root{
  --gap: 0.7rem;
  --gap-sl: 0.4rem;
  --padding: 1rem;
  --padding-sl: 0.6rem;
  --padding-lg: 2.5rem;
  --btn-padding: 0.6rem;
  --margin: 1.2rem;
  --button-border-radius: 8px;

  --font-lg: 1.3rem;
  --font-xlg: 2.5rem;
  --font-sl: 0.8rem;
  --font-md: 1rem;
}

html{
  font-family: 'Quicksand', sans-serif;
}